PORT=6100
MONGODB_URI=mongodb://admin:secret123@103.15.223.28:27017,103.15.223.28:27018,103.15.223.28:27019/tool-bcr-gg88-khu3D?replicaSet=rs0&authSource=admin
JWT_SECRET=your-super-secret-key-change-it
JWT_EXPIRATION=12h
SUPERADMIN_PASSWORD=Password123@!
